:root {
  --main-green-color: #A8FF35;
}

.body {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    transition:all .2s ease-in-out;
}


h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
    text-align: center;
    margin: 0;
}

.header {
    padding: 40px 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
}

.image {
    border-radius: 25px;
    width: 30px;
    height: 30px;
    background-color: #A8FF35;
}

.logo {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: #fff;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 40px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.user {
    display: flex;
    gap:  40px;
    align-items: center;
}

.login {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.login:hover {
    color: var(--main-green-color);
}

.register {
    border-radius: 40px;
    width: 129px;
    font-size: 18px;
    line-height: 42px;
    font-weight: 400;
    transition:all .2s ease-in-out;
    border: none;
}

.register:hover {
    border-radius: 40px;
    background-color: var(--main-green-color);;
}

main {
    margin-top: 130px;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0 80px;
}

.container.flex-center {
    justify-content: center;
    align-items: center;
}

.black {
    display: flex;
    background-color: #000;
    justify-content: center;
    padding: 100px 0 90px;
    flex-direction: column;
}

.started {
    width: 180px;
    line-height: 57px;
    background: var(--main-green-color);
    border-radius: 40px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    position: relative;
}

.started:before {
    content: '';
    position: absolute;
    right: -111px;
    top: -13px;
    background-image: url(../img/button-tooltip.svg);
    width: 99px;
    height: 70px;
}

.started:hover {
    background: #fff;
}

.black h1 {
    font-family: 'Effra';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.2;
    color: #fff;
    text-align: center;
    margin: 0 0 24px;
}

.banners-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 95px;
}

.banners {
    color: #fff;
    background-color: #181818;
    box-shadow: #A8FF35;
    padding:10px 10px; 
    transform: rotate(-4deg);
    width: 340px;
    height: 50px;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.banners img {
    width: 31px;
    height: auto;
    margin-right: 13px;
}

.banners span {
    color: #fff;
    font-size: 24px;
    line-height: 1.2;
    overflow: hidden;
    width: 213px;
}

.banners i {
    color: #fff;
    font-size: 40px;
    font-style: normal;
    margin: 0 13px 5px 0;
    position: relative;
    flex: 1;
    text-align: right;
}

.banners i:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
}

.banners.tw {
    transform: rotate(-11deg) translate(48px, 45px);
}

.banners.pn {
    transform: rotate(13deg) translate(12px, 0px);
}

.banners.fb {
    transform: rotate(-11deg) translate(48px, 45px);
}

.banners.bb {
    transform: rotate(-11deg) translate(48px, 45px);
}

.x {
    width: 10px;
    height: 10px;
   
}

.text {
    font-family: 'Effra';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #8B8B8B;
    text-align: center;
    margin: 0 0 40px;
}

.green {
    background-color: #A8FF35;
    padding: 140px 0;
}

.green .container {
    justify-content: center;
    align-items: center;
}


.green h2 {
    font-weight: 700;
    font-size: 72px;
    line-height: 86px;
    margin: 0 0 60px;
}

.green .banners {
    transform: rotate(0);
    padding-left: 40px;
}

.white {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F5F5F5;
    border-radius: 16px;
    padding: 60px 80px;
    margin-bottom: 60px;
}

.green p {
    margin: 0;
    text-align: center;
}

.help {
    padding: 140px 0;
}

.help h3 {
    text-align: start;
}

.help h3 strong {
    color: #ADADAD;
}

.help {
    paddig: 140px 0;
    text-align: center;
}

.trends {
    padding: 140px 0;
}

.trends h3 {
    margin-bottom: 80px;
}

.brands {
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
}
  
.image1 {
    width: 22%;
    /* Optional */
    position: relative;
    
    margin-bottom: 2%;
    border-radius: 8px;
    background-color: #F5F5F5;
    
    padding: 15px;
    box-sizing: border-box;
}

.grey {
    display: flex;
    padding: 140px 0;
    justify-content: center;
    text-align: center;
    background: #FAFAFA;
}

.grey h2 {
    text-align: start;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
}

.get {
    display: flex;
    flex-direction: column;
    padding: 140px 0;
    justify-content: center;
    text-align: center;
    color: #ffff;
    background: #000000;
}

.get h2 {
    text-align: start;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
    color: #fff;
}

.get-content {
    color: #fff;
}

.join {
    display: flex;
    flex-direction: column;
    padding: 140px 0;
    justify-content: center;
    text-align: center;
    
    background: #A8FF35;
}

.join-content {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 112%;
}

.join h2 {
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 76px;

}

.h2-2 {
    color: #8B8B8B;
}

.join-now {
    
    justify-content: center;
    align-items: center;
    padding: 16px 32px;



    width: 180px;
    height: 57px;
    left: 630px;
    top: 6917px;
    color: #fff;
    background: #000000;
    border-radius: 40px; 
}
  
.footer {
    height: 100px;
    padding: 40px 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffff;
}

.logo2 {
    gap: 20px;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: #fff;
}

.find2 {
    color: #000;
}

.info-ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 40px;
    color: #000;
    text-decoration: none;
}

