.body {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    padding: 40px 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 40px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.login {
    display: flex;
    gap:  40px;
}

main {
    margin-top: 130px;
}

.container {
    padding: 0 80px;
}

.black {
    display: flex;
    background-color: #000;
    justify-content: center;
    padding: 100px 0 90px;
}

.black h1 {
    color: #fff;
    text-align: center;

}

.green {
    display: flex;
    background-color: #A8FF35;
    padding: 140px 0;
    justify-content: center;

}


